/.idea/

/site/

/docker-compose.env.local
/docker-compose.yml
/docker-compose.config.sh

/config/cli/php5/timezone.ini
/config/apache/php5/timezone.ini

/config/apache/certs/*
!/config/apache/certs/.gitkeep

/data/mysql/*
/data/solr/*
/data/solr6/*
!/data/mysql/.gitkeep
!/data/solr/.gitkeep
!/data/solr6/.gitkeep

/logs/apache/*
/logs/cli/*
/logs/memcache/*
/logs/mysql/*
/logs/solr/*
/logs/varnish/*
!/logs/apache/.gitkeep
!/logs/cli/.gitkeep
!/logs/memcache/.gitkeep
!/logs/mysql/.gitkeep
!/logs/solr/.gitkeep
!/logs/varnish/.gitkeep

config/apache/sites-available/004-custom-vhosts.conf
/history/*/.bash_history*
