# These settings get added after the default ones in /etc/mysql/my.cnf

[mysqld]

log-error = /var/log/mysql/error.log
general_log = on
general_log_file = /var/log/mysql/query.log

slow_query_log = 1
long_query_time = 5
slow_query_log_file = /var/log/mysql/slow-queries.log

secure-file-priv = ""

# to fix errors in legacy code with sql_mode = 'ONLY_FULL_GROUP_BY' -> therefore it is disabled
sql_mode = "STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
max_allowed_packet = 67108864
